
.promotion-search__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.promotion-search__header h1{
    text-transform: uppercase;
    color: rgb(128, 126, 126);
}

.promotion-search__input{
    display: flex;
    font-size: 16px;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 10px;
}

